.margin {
  margin-top: 30px;
}
body {
  background-image: url("http://wallpapercave.com/wp/boXe1uP.jpg");
  background-size: cover;
}
body #form {
  margin-top: 30px;
}
body #list {
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px #d9d9d9 solid;
  border-radius: 20px;
  margin-bottom: 10px;
}
body #list .heroTemplate {
  margin-top: 20px;
  background-color: #FFFFFF;
  border: 1px #d9d9d9 solid;
  border-radius: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
body #list .heroTemplate:hover {
  border: 1px #000 solid;
}
body #list .heroTemplate img {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  position: relative;
  z-index: 0;
}
body #list .heroTemplate span {
  margin-right: 5px;
}
body #list .heroTemplate h3 {
  color: #c80400;
  font-weight: bold;
}
.results {
  width: 100% !important;
}
body #circle {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 1;
  opacity: 0.7;
}
body #circle .span{
  color: #FFFFFF;
  font-weight: bold;

  top: 20px;
  left: 90px;

}


